.container {
  position: absolute;
  z-index: 100;
  transform: scale(0.7);
  top: -7rem;
  left: -2.5rem;

  > div {
    >div {
      width: 340px;
      height: 300px;
      border-radius: 0.6rem;
      position: relative;
      box-shadow: -1px 3px 22px -2px rgba(189,147,249,0.66);
      // box-shadow: none;
      background: #282a36;
      border-color: #bd93f9;
      border-width: 3px;
      opacity: 0.8;

      &::-webkit-scrollbar {
        width: 0px;
      }
        
      > div {
        position: fixed;
      }

      div + div {
        width: 85%;
        position: inherit;
        margin-left: 3rem;
      }
    }
  }

  span {
    img {
      height: 30px !important;
      width: 30px !important;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

