html {
  scroll-behavior: smooth;
}

* {
  &::-webkit-scrollbar {
    width: 0;
  }
}

:root {
  --pink-400: #ff79c6;
}

#__next {
  min-width: 100vw;
  max-width: 100vw;
}

P, span, strong, H1, H2, H3 {
  white-space: pre-line;
} 