.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 2.4rem;
    font-weight: 900;
  }

  time {
    display: block;
    font-size: 1rem;
    color: #f8f8f2;
    margin-top: 1.5rem;
  }
}

.post_content {
  margin-top: 1rem;
  line-height: 2rem;
  font-size: 1rem;
  color: #f8f8f2;

  img {
    border-radius: 0.5rem;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #f8f8f2;
    opacity: 0.6;
  }

  h3, h4, h5, h6 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #f8f8f2;
    opacity: 0.6;
  }

  strong {
    font-weight: 900;
  }

  p, ul {
    margin: 1.5rem 0;
    font-size: 1.25rem;
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
    letter-spacing: -0.003em;
    line-height: 32px;
  }

  p:first-of-type:first-letter {
    float: left;
    font-size: 4rem;
    line-height: 1;
    margin-right: 9px;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}
